{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Ello</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/build.css' %}"
    />
  </head>
  <body>
    <div>
      <h1>Assistant Builder</h1>
      <form class="build-form">
        <label for="assistant-name">Assistant name</label>
        <input
          type="text"
          id="assistant-name"
          class="assistant-name-input"
          placeholder="Type a name..."
        />
        <label for="assistant-description">Assistant description</label>
        <textarea
            id="assistant-description"
            class="assistant-description-input"
            placeholder="Type a description..."
        ></textarea>
        <button type="submit" class="submit-button">Build</button>
      </form>
    </div>
  </body>
</html>
