{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Ello</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/build.css' %}"
    />
  </head>
  <body>
    <div class="center-vertical">
      {% if assistant_info %}
      <form class="build-form" method="post" action="{% url 'assistant_edit' assistant_info.id %}">
      {% else %}
        <form class="build-form" method="post" action="{% url 'assistant_create' %}">
      {% endif %}
        <input type="button" value="X" class="exit-btn" onclick="history.back()" />
        {% csrf_token %} {% if assistant_info %}
        <h1>Edit Friend: {{ assistant_info.name }}</h1>
        {% else %}
        <h1>New Friend Builder</h1>
        {% endif %}
        <label for="assistant-name">Name your friend:</label>
        <input type="text" name="name" id="assistant-name" class="build-data" placeholder="Type a name..." />
        <label for="assistant-instructions">Describe their personality:</label>
        <textarea
          name="instructions"
          id="assistant-instructions"
          placeholder="Type a personality..."
          class="build-data"
        ></textarea>
        <label for="assistant-model">Pick an AI model:</label>
        <select id="assistant-model" class="build-data">
          <option value="gpt2">GPT-3</option>
          <option value="gpt3">GPT-4</option>
        </select>
        {% if assistant_info %}
        <input type="submit" value="Edit Friend" class="btn" />
        {% else %}
        <input type="submit" value="Create Friend" class="btn" />
        {% endif %}
      </form>
    </div>
  </body>
</html>
