{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Ello</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/dashboard.css' %}"
    />
  </head>
  <body>
    <nav>
      <h1>Ello</h1>
      <ul>
        <li>
          {% for item in data %}
          <a href="/assistant/{{ item.id }}">{{ item.name }}</a>
          {% endfor %}
          <a href="/build">+ New Assistant</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="centered-container">
        <p class="placeholder-content">Select an assistant to get started</p>
      </div>
      <form class="message-form">
        <input
          type="text"
          class="message-input"
          placeholder="Type a message..."
        />
        <button type="submit" class="submit-button">Send</button>
      </form>
    </div>
  </body>
</html>
