{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Ello</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/dashboard.css' %}"
    />
  </head>
  <body>
    <nav>
      <h1><a href="{% url 'dashboard' %}">Ello</a></h1>
      <a href="{% url 'assistant_create' %}" class="new-assistant"
        >+ New Friend</a
      >
      <ul>
        <li>
          {% for assistant in assistant_list %}
          <a href="{% url 'assistant_dashboard' assistant.id %}"
            >{{ assistant.name }}</a
          >
          {% endfor %}
        </li>
      </ul>
    </nav>
    <div class="content">
      {% if assistant_info %}
      <div class="assistant-info">
        <h2>{{ assistant_info.name }}</h2>
        <h3>{{ assistant_info.instructions }}</h3>
        <div class="assistant-options">
          <p>Powered by: {{ assistant_info.model }}</p>
          <form
            method="get"
            action="{% url 'assistant_edit' assistant_info.id %}"
          >
            <input type="submit" value="Edit" class="btn" />
          </form>
          <form
            method="get"
            action="{% url 'assistant_delete' assistant_info.id %}"
          >
            <input type="submit" value="Delete" class="btn" />
          </form>
        </div>
      </div>
      {% endif %} {% if messages %}
      <div class="message-container">
        {% for message in messages %}
        <p
          class="message {% if message.role == 'user' %}user-message{% elif message.role == 'assistant' %}assistant-message{% endif %}"
        >
          {{ message.text }}
        </p>
        {% endfor %}
      </div>
      {% endif %} {% if not messages %} {% if assistant_info %}
      <div class="centered-container">
        <p class="placeholder-content">
          Send a message below to start a new chat
        </p>
      </div>
      {% endif %} {% endif %} {% if not assistant_info %}
      <div class="centered-container">
        <p class="placeholder-content">Select a friend to start chatting</p>
      </div>
      {% endif %} {% if not hide_form %}
      <form
        id="message-form"
        class="message-form"
        method="post"
        action="{% url 'assistant_dashboard' assistant_info.id %}"
      >
        {% csrf_token %}
        <input
          type="text"
          name="message"
          class="message-input"
          placeholder="Type a message..."
          required
        />
        <input type="hidden" name="thread_id" value="{{ thread_id }}" />
        <button type="submit" class="submit-button" id="message-submit">
          Send
        </button>
      </form>
      {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      // Disable the submit button to prevent multiple submissions
      $(document).ready(function () {
        $("#message-form").on("submit", function () {
          var submitButton = $(this).find("#message-submit");
          submitButton.prop("disabled", true);
          submitButton.css("background-color", "#cccccc");
          submitButton.text("Sending...");
        });
      });
    </script>
      
  </body>
</html>
