{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Ello</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/dashboard.css' %}"
    />
  </head>
  <body>
    <nav>
      <h1><a href="{% url 'dashboard' %}">Ello</a></h1>
      <ul>
        <li>
          {% for assistant in assistant_list %}
          <a href="/assistants/{{ assistant.id }}">{{ assistant.name }}</a>
          {% endfor %}
          <a href="{% url 'build' %}">+ New Assistant</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      {% if assistant_info %}
      <div class="assistant-info">
        <h2>{{ assistant_info.name }}</h2>
        <h3>{{ assistant_info.instructions }}</h3>
        <div class="assistant-options">
          <p>Powered by: {{ assistant_info.model }}</p>
          <a href="/assistants/{{ assistant.id }}">Edit</a>
          <a href="/assistants/{{ assistant.id }}">Delete</a>
        </div>
      </div>
      <div class="centered-container">
        <p class="placeholder-content">MESSAGES GO HERE</p>
      </div>
      {% else %}
      <div class="centered-container">
        <p class="placeholder-content">Select an assistant to get started</p>
      </div>
      {% endif %}
      <form class="message-form">
        <input
          type="text"
          class="message-input"
          placeholder="Type a message..."
        />
        <button type="submit" class="submit-button">Send</button>
      </form>
    </div>
  </body>
</html>
