body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
}

nav {
  width: 200px;
  height: 100vh;
  background-color: #131212;
  color: #fff;
  text-align: center;
  padding: 0px 20px;
  max-height: 100vh;
  overflow-y: auto;
}

nav h1 {
  border-bottom: 2px solid #50c878;
  margin: 0;
}

nav h1 a {
  color: #50c878;
  display: inline-block;
  padding: 10px 20px;
  width: 80%;
  text-decoration: none;
  background-color: #1e1e1e;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 10px 0;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.centered-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  flex-grow: 1;
  flex-direction: column-reverse;
  display: flex;
  padding: 0 50px;
  overflow-y: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.message {
  text-align: left;
  max-width: 70%;
  padding: 10px 20px;
  border-radius: 50px;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.user-message {
  margin-left: auto;
  border: 1px solid #a56dff;
  background-color: #a56dff;
}

.assistant-message {
  margin-right: auto;
  border: 1px solid #50c878;
  background-color: #50c878;
}


.placeholder-content {
  margin: 0;
  padding: 0;
}

.message-form {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 30px 10px;
  width: 80%;
  margin: 0 auto;
}

.message-input {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.submit-button {
  padding: 10px;
  background-color: #50c878;
  color: black;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.submit-button:hover {
  background-color: #a56dff;
}

li a, .new-assistant {
  display: inline-block;
  padding: 10px 20px;
  width: 80%;
  text-decoration: none;
  background-color: #1e1e1e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 10px 0;
}

a:hover {
  background-color: #50c878;
  color: black;
}

nav li {
  list-style-type: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

.assistant-info {
  background-color: #131212;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.assistant-info h2 {
  color: #50c878;
  margin: 0 10px;
  display: inline-block;
}

.assistant-info h3 {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

.assistant-info p {
  color: #fff;
  display: inline-block;
  margin: 5px 10px;
}

.assistant-options form {
  display: inline-block;

}

.btn {
  color: #1e1e1e;
  display: inline-block;
  margin: 5px 10px;
  text-decoration: none;
  background-color: #50c878;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn:hover {
  background-color: black;
  color: #50c878;
}

.new-assistant {
  background-color: #fff;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.new-assistant:hover {
  background-color: #50c878;
  color: white;
}