body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
}

div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  background-color: #131212;
}

h1 {
  color: #50c878;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  background-color: #50c878;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btn:hover {
  background-color: orange;
}
